@model UpdatePricingDto
@{
    ViewData["Title"] = "UpdatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Ödeme Türü Güncelleme Sayfası</h4>
                    <p class="card-subtitle mb-4">Ödeme türü ile ilgili özellikleri aşağıdaki kutucuklara eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydetmeyi unutmayınız.</p>
                    <form method="post">
                        <input type="hidden" asp-for="PricingId" />
                        <div class="form-group">
                            <label for="exampleInputName">Başlık</label>
                            <input type="text" class="form-control" id="exampleInputName" placeholder="Ödeme Türü Girişi Yapınız" asp-for="Name">
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>