@model List<ResultAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Hakkımda Sayfası</h4>
                    <p class="card-subtitle mb-4">
                        Yazarlar alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz. Tema bütünlüğü bozulmaması adına lütfen sadece bir tane veri girişi yapınız. Aksi durumlarda tema bütünlüğü bozulacaktır.
                    </p>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ad Soyad</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                    <th>Yazarın Blogları</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td><img src="@item.ImageUrl" width="50" height="50" style="margin-right:10px" />@item.AuthorName</td>
                                        <td><a href="/Admin/AdminAuthor/RemoveAuthor/@item.AuthorId" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Admin/AdminAuthor/UpdateAuthor/@item.AuthorId" class="btn btn-outline-success">Güncelle</a></td>
                                        <td><a href="/Admin/AdminAuthor/UpdateAuthor/@item.AuthorId" class="btn btn-outline-success">Yazarın Blogları</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <td><a href="/Admin/AdminAuthor/CreateAuthor/" class="btn btn-outline-primary">Yeni Yazar Ekle</a></td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

