@model CreateServiceDto
@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Hizmet Girişi</h4>
                    <p class="card-subtitle mb-4">Hizmetler ile ilgili özellikleri aşağıdaki kutucuklara eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydetmeyi unutmayınız.</p>
                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputModel">Hizmet Adı</label>
                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="Hizmet Bilgisi Giriniz" asp-for="Title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputModel">Açıklama</label>
                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="Açıklama Bilgisi Giriniz" asp-for="Description">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputModel">İkon Url</label>
                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="İkon Bilgisi Giriniz" asp-for="IconUrl">
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

