@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLayout/AdminHeaderPartial.cshtml")

<body>
    <div id="layout-wrapper">

        @await Html.PartialAsync("/Views/AdminLayout/AdminNavbarPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLayout/AdminSidebarPartial.cshtml")

        <div class="main-content">
            <div class="page-content">
                @RenderBody()
            </div>
            @await Html.PartialAsync("/Views/AdminLayout/AdminFooterbarPartial.cshtml")
        </div>
    </div>
    @await Html.PartialAsync("/Views/AdminLayout/AdminScriptbarPartial.cshtml")
</body>
</html>