@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Hakkımızda Veri Girişi Alanı</h4>
                    <p class="card-subtitle mb-4">Banner ile ilgili özellikleri aşağıdaki kutucuklara eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydetmeyi unutmayınız.</p>
                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputModel">Başlık</label>
                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="Hakkımda Başlığı Girişi Yapınız" asp-for="title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputModel">Açıklama</label>
                            <textarea rows="5" class="form-control" id="exampleInputDescription" placeholder="Banner Açıklama Girişi Yapınız" asp-for="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputModel">Resim Url</label>
                            <input type="text" class="form-control" id="exampleInputVideoUrl" placeholder="Video Url Girişi Yapınız" asp-for="imageUrl">
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

