@model UpdateBannerDto
@{
    ViewData["Title"] = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Banner Güncelleme Sayfası</h4>
                    <p class="card-subtitle mb-4">Banner ile ilgili özellikleri aşağıdaki kutucuklara eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydetmeyi unutmayınız.</p>
                    <form method="post">
                        <input type="hidden" asp-for="BannerId" />
                        <div class="form-group">
                            <label for="exampleInputModel">Başlık</label>
                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="Banner Başlığı Girişi Yapınız" asp-for="Title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputModel">Açıklama</label>
                            <input type="text" class="form-control" id="exampleInputDescription" placeholder="Banner Açıklama Girişi Yapınız" asp-for="Description">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputModel">Video Url</label>
                            <input type="text" class="form-control" id="exampleInputVideoUrl" placeholder="Video Url Girişi Yapınız" asp-for="VideoUrl">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputModel">Video Açıklama</label>
                            <input type="text" class="form-control" id="exampleInputVideoDescription" placeholder="Video Açıklama Girişi Yapınız" asp-for="VideoDescription">
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

