@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Blog Kategori Güncelleme Sayfası</h4>
                    <p class="card-subtitle mb-4">Kategori ile ilgili özellikleri aşağıdaki kutucuklara eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydetmeyi unutmayınız.</p>
                    <form method="post">
                        <input type="hidden" asp-for="CategoryId" />
                        <div class="form-group">
                            <label for="exampleInputModel">Kategori Adı</label>
                            <input type="text" class="form-control" id="exampleInputCategoryName" placeholder="Kategori Adını Giriniz" asp-for="CategoryName">
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>